* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Space Grotesk";
  src: url(fonts/SpaceGrotesk-Medium.ttf);
}

@font-face {
  font-family: "Space Grotesk";
  src: url(fonts/SpaceGrotesk-Bold.ttf);
  font-weight: bold;
}

body {
  background-color: #151515;
  color: var(--White, #fff);
  font-family: "Space Grotesk", sans-serif;
}

a {
  color: white;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #4ee1a0;
}

.section.one {
  /* background: url("images/pattern-circle.svg");
  background-repeat: no-repeat, repeat;
  background-position: center;
  background-position-x: 125%;
  background-position-y: 46%;
  object-fit: cover; */
  overflow-x: hidden;
}

.profile-container {
  margin: auto;
  width: 180px;
  max-width: 400px;
  height: 384px;
  background: linear-gradient(180deg, rgba(36, 36, 36, 0) 0.65%, #242424 100%);
  position: relative;
  margin-bottom: 2.5em;
}

.rings {
  position: absolute;
  top: 40%;
  right: 50%;
  z-index: -1;
  object-fit: cover;
  object-position: 50% 50%;
  overflow-x: hidden;
}

.circle {
  position: absolute;
  top: 65%;
  left: 135%;
  z-index: -1;
  object-fit: cover;
  object-position: 55% 25%;
  overflow: hidden;
}

/* .rings-div {
  background-image: url("images/pattern-rings.svg");
  position: absolute;
  top: 30%;
  right: 0%;
  z-index: -1;
  background-repeat: no-repeat, repeat;
  background-position: left;
  width: 33.125rem;
  height: 5rem;
  object-fit: cover;
  object-position: 50% 50%;
} */

.name-h1 {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2rem; /* 133.333% */
  letter-spacing: -0.02081rem;
  text-align: center;
  margin: 1.25em 0;
}

.icon-container {
  text-align: center;
  width: 90%;
  margin: auto;
}

.icon {
  margin: 0 0.25em;
  width: 24px;
}

.profile-pic {
  display: block;
  width: 150px;
  margin: auto;
  margin-top: 3em;
  margin-bottom: 2.5em;
}

.meet,
.based,
.contact {
  text-align: center;
}

.meet {
  margin: auto;
  width: 343px;
  color: var(--White, #fff);
  text-align: center;
  font-family: "Space Grotesk";
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.5rem; /* 100% */
  letter-spacing: -0.071rem;
}

.based {
  margin: 1.5em auto;
  width: 343px;
  color: var(--Grey, #d9d9d9);
  text-align: center;
  font-family: "Space Grotesk";
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.625rem; /* 162.5% */
}

.contact {
  color: var(--White, #fff);
  font-family: "Space Grotesk";
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.625rem; /* 162.5% */
  letter-spacing: 0.14288rem;
  border-bottom: 2px solid var(--Green, #4ee1a0);
  width: 7.5rem;
  margin: auto;
  padding-bottom: 0.62em;
}

.section.two {
  border-top: 2px solid var(--White, #fff);
  border-bottom: 2px solid var(--White, #fff);
  margin: 2em;
  margin-top: 5em;
  padding: 2.5em;
  min-height: auto;
}

.skill-p {
  color: var(--White, #fff);
  text-align: center;
  font-family: "Space Grotesk";
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.5rem; /* 125% */
  letter-spacing: -0.0625rem;
}
